; BIND db file for cq.fi

$TTL 86400

@       IN      SOA     ns1.lammi.zone.      postmaster.lammi.zone. (
                        2022103101	; serial number YYMMDDNN
                        28800           ; Refresh
                        7200            ; Retry
                        864000          ; Expire
                        86400           ; Min TTL
			)

                NS      ns1.lammi.zone.
                NS      ns2.lammi.zone.

                MX      10 mail.kapsi.fi.
                MX      20 mx2.kapsi.fi.


$ORIGIN cq.fi.

@	IN	A	{{ webserver_ip }}
www	IN	A	{{ webserver_ip }}
fwd	IN	A	{{ loadbalancer_ip }}

@	IN	TXT	"v=spf1 -all"
_dmarc	IN	TXT	"v=DMARC1; p=reject; adkim=s; aspf=s; rua=mailto:u0buid4p@ag.eu.dmarcian.com; ruf=mailto:u0buid4p@fr.eu.dmarcian.com;"
_github-pages-challenge-jarilammi	IN	TXT	"022b8f100e65df093b08b4ccdb462e"
